<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href = "/dokter">Dokter</a>
        <a href = "/penyakit">Penyakit</a>
        <a href = "/pasien">Pasien</a>
    </div> 
</body>
</html>
