<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>QR scanner</h1>
  <form action="/test" method="POST">
  <input type="text" name="url">
  <button type="submit">Save</button>
  </form>
</body>
</html>